@import '../base/_variables.scss';

.rl-button {
  display: inline-block;
  padding: 5px 0px;
  margin-top: 6px;
  color: $color-white;
  border: 0;
  font-size: $font-size-main;
  line-height: 29px;
  width: 100%;
  min-height: $height-form-elements;
  text-align: center;
  font-weight: 500;
  background: $brand-color-secondary;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-box-shadow: 5px 7px 7px -2px black;
  -moz-box-shadow: 5px 7px 7px -2px black;
  box-shadow: 5px 7px 7px -2px black;
  &:hover {
    background: #9bc2cf;
  }
}
