@import '../base/_variables.scss';

.rl-button {
    display: inline-block;
    padding: 8px 10px;
    color: $color-white;
    border: 0;
    font-size: 1.25em;
    line-height: 29px!important;
    min-width: 9.0625em;
    min-height: 45px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    -webkit-appearance: none;
}