<div class="rl-login rl-forms">
  <form class="rl-login__form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">
    <div class="rl-login__cards">
      <app-card
        [icon]="admin"
        [title]="'Administrador'"
        [text]="'Lorem ipsum'"
        (click)="getRole($event)"
        [selected]="!reset && selected === 'Admin' ? 'selected' : ''"
      ></app-card>
      <app-card
        [icon]="agent"
        [title]="'Agente'"
        [text]="'Lorem ipsum'"
        (click)="getRole($event)"
        [selected]="!reset && selected === 'Agent' ? 'selected' : ''"
      ></app-card>
      <app-input [type]="'hidden'" [id]="'role'" [name]="'role'" [control]="'role'" [placeholder]="'role'"></app-input>
    </div>
    <div class="rl-login__container">
      <div class="rl-login__inner">
        <app-label [text]="'Email'"></app-label>
        <app-input
          [type]="'email'"
          [id]="'email'"
          [name]="'email'"
          [control]="'email'"
          [placeholder]="'Email'"
        ></app-input>
        <app-form-validations [control]="loginForm.controls.email"></app-form-validations>
      </div>
      <div class="rl-login__inner">
        <app-label [text]="'Password'"></app-label>
        <app-input
          [type]="'password'"
          [id]="'password'"
          [name]="'password'"
          [control]="'password'"
          [placeholder]="'password'"
        ></app-input>
        <app-form-validations [control]="loginForm.controls.password"></app-form-validations>
      </div>
      <div class="rl-login__inner">
        <app-button [type]="'submit'" [disabled]="!loginForm.valid" [text]="'Iniciar sesión'"> </app-button>
      </div>
    </div>
  </form>
</div>
<!-- forgot password -->
<div class="rl-link" [@visible]="loadTooltip ? 0 : 1">
  <a href="" [routerLink]="'/forgot-password'">¿ Olvidaste tu contraseña ?</a>
</div>

<!-- tooltip info -->
<div id="rl-tooltip" [@visible]="loadTooltip ? 1 : 0">
  <app-tooltip [user]="user" [error]="error"></app-tooltip>
</div>
