@import 'main.scss';
@import 'components/_cards.scss';

.rl-card {
  background: $color-white;
  &__container {
    border-radius: 25px;
    background: lightgray;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rl-card__icon {
    &--hide {
      display: none;
    }
    &--show {
      position: absolute;
      top: -10px;
      right: -10px;
      background: #98fb98;
      border-radius: 25px;
      width: 20px;
      height: 20px;
    }
  }
}

.selected {
  background: #d5fdd5;
}
