@import 'main.scss';
@import 'base/_variables.scss';

.rl-header {
  background: $color-white;
  min-height: 3.75em;
  min-width: auto;
  border: 1px solid $color-black;

  &__actions {
    background: $color-black;
    padding: 10px 20px;
  }

  &__text {
    color: $color-white;
    max-width: 100%;
    height: auto;
  }

  &__logo {
    padding: 10px 20px;
    background: $color-white;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
