<div class="rl-forgot-password">
  <form
    class="rl-forgot-password__form"
    [formGroup]="forgotPassword"
    (ngSubmit)="forgotPassword.valid && submit()"
    autocomplete="off"
  >
    <h3>Olvido contraseña ?</h3>
    <p>Por favor ingrese su email de usuario</p>
    <div class="rl-forgot-password__container">
      <div class="rl-forgot-password__inner">
        <app-label [text]="'Email'"></app-label>
        <app-input
          [type]="'email'"
          [id]="'email'"
          [name]="'email'"
          [control]="'email'"
          [placeholder]="'Email'"
        ></app-input>
        <app-form-validations [control]="forgotPassword.controls.email"></app-form-validations>
      </div>
      <div class="rl-forgot-password__inner">
        <app-button [type]="'submit'" [disabled]="!forgotPassword.valid" [text]="'submit'"> </app-button>
      </div>
    </div>
  </form>
</div>

<!-- tooltip info -->
<div class="rl-response" *ngIf="showText">
  <p class="rl-response__text">{{ text }}</p>
</div>
